p {
    padding: 10px;
}
.gray { background-color: gray; }
.red { background-color: red; }
.yellow { background-color: yellow; }
.green { background-color: green; }

.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section {
    height: 15px;
    width: 30%;
    margin: 5px;
}